// license:BSD-3-Clause
// copyright-holders:Gaston90 And Robbbert
//============================================================
//
//	mame.rc - Minimal resource file for Win32 MAME
//
//============================================================

#include <windows.h>
//#include "mamevers.rc"

1                       24      MOVEABLE PURE   "PSArcadePlus.man"

2                       ICON    DISCARDABLE     "PSArcadePlus.ico"
